<div class="container-fluid">
  
  <div class="row">
  <div class="col-sm-5">
      <app-expression-box></app-expression-box>
  </div>
  <div class="col-sm-1">
      <button class="btn-primary" style="margin-top:50px;" (click)="getResults()">Evalute</button>
      <br>
      <br>
      <br>
      <button class="btn-success" (click)="clearResults()">Clear</button>
  </div>
  <div class="col-sm-5">
      <div id="result-box">
          <div *ngFor="let result of results">
            <div style="height:40px;">
                <span>{{result}}</span>
            </div>
          </div>
        </div> 
  </div>
</div>

</div>


<br>
<div class="col-md-8">
  <app-expression-item *ngFor="let expression of expressions"
    [expression]="expression"></app-expression-item>
</div>


